{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>

{% endblock head %}
{% block center_body %}


    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Home</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
            <li><a href="/list7_1_1/">FOOD</a></li>
            <li><a href="/list8_1_1/">ELECTRONIC</a></li>
			<li><a href="/list9_1_1/">GAME</a></li>
            <li><a href="/list10_1_1/">ACCESSORIES</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					CLOTHES
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/list11_1_1/">MAN</a></li>
					<li><a href="/list12_1_1/">WOMAN</a></li>
					<li><a href="/list13_1_1/">KIDS</a></li>

				</ul>
			</li>
		</ul>
	</div>
	</div>
    </nav>


	<div class="breadcrumb">
		All Category > {{ title }}
		{% if id|default:' ' != ' ' %}
        > Product Detail
		{% endif %}
	</div>

{% block center_content %}

{% endblock center_content %}



{% endblock center_body %}

