{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>

{% endblock head %}

{% block center_body %}

    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Home</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
            <li><a href="/list7_1_1/">FOOD</a></li>
            <li><a href="/list8_1_1/">ELECTRONIC</a></li>
			<li><a href="/list9_1_1/">GAME</a></li>
            <li><a href="/list10_1_1/">ACCESSORIES</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					CLOTHES
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/list11_1_1/">MAN</a></li>
					<li><a href="/list12_1_1/">WOMAN</a></li>
					<li><a href="/list13_1_1/">KIDS</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
    </nav>



    <script type="text/javascript">
        if({{ search_status }}==0){
            alert("Your query result is empty, recommend the following products for you");
        }
    </script>
	<div class="breadcrumb">
		All Category
{#        {{ title }}#}
{#		{% if id|default:' ' != ' ' %}#}
        > Product Details
{#		{% endif %}#}
	</div>

    <div class="main_wrap clearfix">
        <ul class="goods_type_list clearfix">
            {%  for item in page %}
            <li>
                <a href="/{{ item.id }}/"><img src="{{ MEDIA_URL }}{{ item.gpic }}"></a>
                <h4><a href="/{{ item.id }}/">{{ item.gtitle }}</a></h4>
                <div class="operate">
                    <span class="prize">${{ item.gprice }}</span>
                    <span class="unit">{{ item.gunit }}</span>
                    <a href="/cart/add{{ item.id }}_1/" class="add_goods" title="加入购物车"></a>

                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="pagenation">
            {#check if the first page#}
            {% if page.has_previous %}
                <a href="{% url "df_goods:ordinary_search" %}?q={{ query }}&amp;page={{ page.previous_page_number }}">< Previous page</a>
            {% endif %}

            {% for pindex in paginator.page_range %}
                {% if pindex == page.number %}
                    <a href="{% url "df_goods:ordinary_search" %}?q={{ query }}&amp;page={{pindex}}" class="active">{{pindex}}</a>
                {% else %}
                    <a href="{% url "df_goods:ordinary_search" %}?q={{ query }}&amp;page={{pindex}}">{{pindex}}</a>
                {% endif %}
            {% endfor %}

{#        check if there's next page#}
            {% if page.has_next %}
                <a href="{% url "df_goods:ordinary_search" %}?q={{ query }}&amp;page={{ page.next_page_number }}">Next Page></a>
            {% endif %}
        </div>
    </div>
{% endblock center_body %}