{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>


    <script>

    $(function () {
        total();

        $('#check_all').click(function () {


            state=$(this).prop('checked');

            $(':checkbox:not(#ckeck_all)').prop('checked',state)
        });

        $(':checkbox:not(#check_all)').click(function () {
            if($(this).prop('checked')){

                if($(':checked').length+1==$(':checkbox').length){
                    $('#ckeck_all').prop('checked',true);
                }
            }
            else{
                $('#check_all').prop('checked',false)
            }
        });


        $('.add').click(function () {

            txt=$(this).next();

            txt.val(parseFloat(txt.val())+1).blur();

        });
         $('.minus').click(function () {
            txt=$(this).prev();
             txt.val(parseFloat(txt.val())-1).blur()

        });


        $('.num_show').blur(function () {
            count=parseFloat($(this).val());
            kucun=parseFloat($(this).attr('kucun'));
            if(count<1){
                alert('The number cannot be less than 1');
                $(this).val(1);
                count = 1;
                $(this).focus();
                return;
            }
            else if(count>kucun){
             alert('The number cannot exceed stock');
             $(this).val(kucun);
             count = kucun;
             $(this).focus();
             return;
            }

            cart_id = $(this).parents('.cart_list_td').attr('id');
            $.get('/cart/edit'+cart_id+'_'+count+'/',function (data) {
                if(data.count==0){

{#                    alert('ok');#}
                    total();
                }
                else {

                    $(this).val(data.count)
                }
            })
        })
    });
    function cart_del(cart_id) {
            del = confirm('Delete Confirmed');

            if(del){
                $.get('/cart/delete'+cart_id+'/',function (data) {
{#                    alert(data.ok);#}
                    if(data.ok==1){


                        $('ul').remove('#'+cart_id);
                        total();
                    }
                })
            }
        }
    function total(){
        total1=0;
        total_count=0;

            $('.col07').each(
                function () {


                count=$(this).prev().find('input').val();

                price = $(this).prev().prev().text();

                total0=parseFloat(count)*parseFloat(price);

                    $(this).text(total0.toFixed(2));

                total1 += total0;
                total_count++;
            });

            $('.total').text(total1.toFixed(2));
            $('.total_count1').text(total_count);
        }
    function go_order() {
        s = '';
        $(':checked:not(#check_all)').each(function () {
             id = $(this).parents('.cart_list_td').attr('id');

             s = s +'cart_id='+id + '&'

        });



        s=s.substring(0,s.length-1);
		
		{#                        alert(s);#}
        location.href = '/order?'+s ;

        }
</script>
{% endblock head %}

{% block center_body %}

    {#bootstrap navigation bar#}
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Home</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
            <li><a href="/list7_1_1/">FOOD</a></li>
            <li><a href="/list8_1_1/">ELECTRONIC</a></li>
			<li><a href="/list9_1_1/">GAME</a></li>
            <li><a href="/list10_1_1/">ACCESSORIES</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					CLOTHES
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/list11_1_1/">MAN</a></li>
					<li><a href="/list12_1_1/">WOMAN</a></li>
					<li><a href="/list13_1_1/">KIDS</a></li>

				</ul>
			</li>
		</ul>
	</div>
	</div>
    </nav>









	<div class="total_count">  All Products<em>{{ carts|length }}</em>items</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">Product Name</li>
{#		<li class="col02">Product Unit</li>#}
		<li class="col02">Unit Price</li>
		<li class="col03">Qty</li>
		<li class="col04">Total Price</li>
		<li class="col05">Delete</li>
	</ul>

    {% for cart in carts %}
	<ul class="cart_list_td clearfix" id="{{ cart.id }}">
		<li class="col01"><input type="checkbox" name="" id="check_goods" checked="checked"></li>
		<li class="col02"><img src="{{ MEDIA_URL }}{{ cart.goods.gpic }}"></li>
		<li class="col03">{{ cart.goods.gtitle }}<br><em>${{ cart.goods.gprice }}</em><br><em>In Stock：<span id="goods_kucun">{{ cart.goods.gkucun }}</span></em></li>
{#		<li class="col04">{{ cart.goods.gunit }}</li>#}
		<li class="col05">{{ cart.goods.gprice }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ cart.count }}" kucun="{{ cart.goods.gkucun }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"></li>
		<li class="col08"><a href="javascript:cart_del({{ cart.id }});">Delete</a></li>
	</ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_all" href="javascript:;"></li>
		<li class="col02">Select All</li>
		<li class="col03">Total：<span>$</span><em id="total" class = 'total'></em><br><b class="total_count1"></b>items</li>
		<li class="col04"><a href="javascript:go_order()">Check Out</a></li>
	</ul>

{% endblock center_body %}