{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>




    $(document).ready(function(){

          $("#btn2").click(function(){
    {#alert("HTML: " + $("#test").html());#}
	$("#receiver").removeAttr('disabled')
              $("#phone").removeAttr('disabled')
               $("#address").removeAttr('disabled')


  });
           $("#btn").click(function(){
    {#alert("HTML: " + $("#test").html());#}
	$("#receiver").attr('disabled','disabled')
              $("#phone").attr('disabled','disabled')
               	$("#address").attr('disabled','disabled')


  });





    $(function () {
        $('.col07').each(function () {
            count = $(this).prev().text();
            price = $(this).prev().prev().text();
            $(this).html(parseFloat(count, 2) * parseFloat(price, 2) + '元')


        })


    })})

    </script>

{% endblock %}

{% block center_body %}
	
	<h3 class="common_title">Shipping Address</h3>

    <div class="common_list_con clearfix">

{#     <ul class="user_info_list">#}
	    <dl>
			<dt>Sent to：</dt>
{#        <form action="" id='reg_form' method="post">#}
{#    {% csrf_token %}#}

                <li>
                    <label>Receiver:
                        <input disabled type="text" name="receiver" class="user_info_check" value="{{ user.oreceiver }}" id="receiver">
                    </label>
                </li>
                <li>
                    <label>Address:
                        <input disabled  type="text" name="fullname" class="user_info_check" value="{{ user.oaddress}}" id="address">
                    </label>
                </li>

                <li><span>Phone: </span>
                    <input disabled type="text" name="phone" class="user_info_check" value="{{ user.ocontact }}" id="phone">
                </li>


{#			<span><input type="radio" name="" checked="checked"></span>#}
{#              Address：<span disabled="disabled" class="user_info_check" id="address">{{ user.oaddress }}</span>#}
{#              Receiver：<span disabled="disabled" class="user_info_check" id="'receiver">{{ user.oreceiver }} </span>#}
{#              Phone：<span disabled="disabled" class="user_info_check" id="phone">{{ user.ocontact }}</span>#}
{#		        </dl>#}
{#		        <a href="{% url "df_user:site" %}" class="edit_site">编辑收货地址</a>#}
        		<li class="reg_sub">
                    <input type="submit" id ='btn' value="Save changes" onclick="myFunction()">
                    <button id="btn2">change the address</button>
                </li>
	    </dl>
    </div>

    <style>
        dl{margin-left: 210px;}
    </style>
	
	<h3 class="common_title">Payment Method</h3>
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="Credit_Card">Credit Card</label>
			<input type="radio" name="pay_style">
			<label class="Paypal">Paypal</label>
			<input type="radio" name="pay_style">
			<label class="Venmo">Venmo</label>
        </div>
	</div>

	<h3 class="common_title">Product List</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">Product Name</li>
{#			<li class="col02">商品单位</li>#}
			<li class="col03">Unit Price</li>
			<li class="col04">Qty</li>
			<li class="col05">Total Price</li>
		</ul>
        {% for cart in carts %}
        <ul class="goods_list_td clearfix" id="{{ cart.id }}">
			<li class="col01">{{ forloop.counter }}</li>
			<li class="col02"><img src="{{ MEDIA_URL }}{{ cart.goods.gpic }}"></li>
			<li class="col03">{{ cart.goods.gtitle }}</li>
{#			<li class="col04">{{ cart.goods.gunit }}</li>#}
			<li class="col05">{{ cart.goods.gprice }}</li>
			<li class="col06">{{ cart.count }}</li>
			<li class="col07">25.80元</li>
        </ul>
        {% endfor %}

	</div>

	<h3 class="common_title">Checkout</h3>
{#	<h3 class="common_title">订单提交时间{{ value|time }}</h3>#}

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">Total<em>{{ carts|length }}</em>product(s)，subtotal: $<b>{{ total_price }}</b></div>
			<div class="transit">Shipping：$<b>{{ trans_cost }}</b></div>
			<div class="total_pay">Total：$<b>{{ total_trans_price }}</b></div>
		</div>
	</div>

	<div class="order_submit1 clearfix">
    	<a href="{% url "df_cart:cart" %}" class="edit_site">Previous Page</a>
    </div>

    <div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">Place the Order</a>
	</div>	

		<div class="popup_con">
		<div class="popup">
			<p>Successfully place the order！</p>
		</div>

		<div class="mask"></div>
	</div>

	<script type="text/javascript">
		$('#order_btn').click(function() {
		    //检查当前收货地址是否正确
		    $('.user_info_check').each(function () {
		        text = $(this).val();
				number = 0;
		        if (text == ''){
					number = 1;
				}
            });
			if (number == 1){
				alert('Please input the correct address');
				window.location.href = '{% url "df_user:site" %}';
			}
            receiver=$("#receiver").val()
            address=$("#address").val()
            contact=$("#phone").val()
		    //获取所有id，拼接成字符串
            cartids = '';
            $('.goods_list_td').each(function () {
               cartids = cartids + $(this).attr('id') +','
            });
		    cartids = cartids.substring(0,cartids.length-1);
		    total = {{ total_trans_price }};
		    data = {
		            'cart_ids':cartids,
                    'total':total,
                    'address':address,
                    'receiver':receiver,
                    'contact':contact,

                    'csrfmiddlewaretoken':'{{ csrf_token }}'
		    };

		    //先发请求
            $.post('/order/push/',data,function (data) {
                //成功

                if (data.ok == 1){
                    localStorage.setItem('order_finish',2);

                    $('.popup_con').fadeIn('fast', function() {

                        setTimeout(function(){
                            $('.popup_con').fadeOut('fast',function(){
                                window.location.href = '{% url "df_user:order" 1 %}';
                            });
                        },1000)
                    });
                }
                else {
                    alert('Place the order failed')
                }
            })
		});
	</script>
{% endblock center_body %}

