<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>find_password</title>
</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
  <script type="text/javascript">
        $(document).ready(function() {

       $('div.error').hide();

       if ({{ answer_error}}==1   )
       {
           $('div.error').html("the answer is incorrect, please confirm and re-enter again").show();}})

  </script>
 <script type="text/javascript">
   $(document).ready(function() {
        var error_password = false;
        var error_check_password = false;
        $('#pwd').blur(function () {
            check_pwd();
        });

        $('#cpwd').blur(function () {
            check_cpwd();
        });

        function check_pwd() {
            var len = $('#pwd').val().length;
            if (len < 4 || len > 20) {
                $('#pwd').next().html('Password should be at least 4 characters, maximum 20 characters');
                $('#pwd').next().show();
                error_password = true;
            } else {
                $('#pwd').next().hide();
                error_password = false;
            }
        }


        function check_cpwd() {
            var pass = $('#pwd').val();
            var cpass = $('#cpwd').val();

            if (pass != cpass) {
                $('#cpwd').next().html('The passwords entered twice do not match');
                $('#cpwd').next().show();
                error_check_password = true;
            } else {
                $('#cpwd').next().hide();
                error_check_password = false;
            }

        }
$('div.form_input').submit(function() {
		check_pwd();
		check_cpwd();


		if( error_password == false && error_check_password == false)
		{
			return true;
		}
		else
		{
			return false;
		}

	})})






</script>
<body>

    <h1>reset the password</h1>
    <h5>please answer the security question</h5>

	<div class="form_input clearfix">
 <form action="{% url "df_user:reset_handle" %}" method="post">
        {% csrf_token %}
        <select id="security_question", name="security_question" , disabled="disabled">
    <option value="your father">{{security_question}}</option>>
    <option value="mother"> your mother's name</option>>
</select>

        <input type="text" name="security_answer" class="answer_input" value="{{ security_answer}}" placeholder="please input the answer
        for the question">
     <div class="error"  style="display: none">Error</div>




        		<li>
					<label>password:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip" style="display: none">alert</span>
					</li>
					<li>
						<label>confirm password:</label>
						<input type="password" name="confirm_pwd" id="cpwd">
						<span class="error_tip" style="display: none">alert</span>
					</li>
        <input type="submit" name="" value="登录" class="input_submit">
     </form>

    </div>

</body>
</html>