<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>forgetpassword</title>-->

<!--</head>-->
{% extends 'base_foot.html' %}
{% block head %}
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>

<script>

    $(document).ready(function() {

       $("div.error").hide();

       if ({{ error_name }}==1   )
       {
           $('div.error').html("the username doesn't exist").show();
       }
       {#  $('.name_input').blur(function () {#}
       {#if ($('input.user_name').val().length===0) {#}
           {#$('div.error').html("aaa").show();}#}
       {#alert("blank")}#}
       {#  })#}

       	$('#user_name').blur(function() {
		check_user_name();
	});
           	function check_user_name(){
                const len = $('#user_name').val().length;

                if(len<5||len>20)
		{
			$('#user_name').next().html('the length of user name shoud be between 5-20');
			$('#user_name').next().show();
			error_name = true;

		}else{
                    	$('#user_name').next().hide();
                    error_name=false


                }

               }


	$('#reg_form').submit(function() {
		check_user_name();

		if(error_name === false )
		{
			return true;
		}
		else
		{
			return false;
		}

	});

       //  {#}#}

       {#   else if({{ blank_name }}==1){#}
       {#   #}
       {#   #}
       {#   $('div.error').html("the username cannot be blank").show();#}
       //    {#}#}
       //      {#if({{ error_pwd }}==1){#}
       //      {#    $('.pwd_error').html('密码错误').show();#}
       //     {#}#}

       //     $('.pass_input').blur(function () {
       //         if($('.pass_input').val().length=0){
       //            $('.pwd_error').html('请输入密码').show();
       //            pwd_error = false;
       //       }else{
       //         $('.pwd_error').hide();
       //          pwd_error = true;
       //   }
       // }

   } )
</script>
{% endblock head %}
{% block body %}
<!--<body>-->
{#  <script type="text/javascript" src="/static/js/register.js"></script>#}
<div class="forget_password">
		<div class="main_content">
			<a class="logo"><img src="/static/images/logo.png" width = '200' ></a>
			<div class="reg_title clearfix">
				<h1>Forget Password </h1>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:find_password" %}" id='fog_form' method="post">
				<label>Username</label>
				<input type="text" name="user_name" id="user_name">
				<div class="error"></div>
				<input type="submit" value="Continue">

				</form>
			</div>
		</div>

</div>
<style>
.main_content{
	align-content: center;
	position: fixed;
	left:400px;
	width: 200px;
	font-size: 14pt;
	}

.logo {
    left: 100px;
    position: fixed;
    width: 200px;
    height: 76px;
    float: right;
}
{% endblock body %}

</body>
</html>