<!--This is a file for the users to input the username with authentication-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgetpassword</title>

</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
{#{% block head %}#}
<script>

    $(document).ready(function() {

       $("div.error").hide();

       if ({{ error_name }}==1   )
       {
           $('div.error').html("the username doesn't exist").show();
       }
       {#  $('.name_input').blur(function () {#}
       {#if ($('input.user_name').val().length===0) {#}
           {#$('div.error').html("aaa").show();}#}
       {#alert("blank")}#}
       {#  })#}

       	$('#user_name').blur(function() {
		check_user_name();
	});
           	function check_user_name(){
                const len = $('#user_name').val().length;

                if(len<5||len>20)
		{
			$('#user_name').next().html('the length of user name shoud be between 5-20');
			$('#user_name').next().show();
			error_name = true;

		}else{
                    	$('#user_name').next().hide();
                    error_name=false


                }

               }


	$('#reg_form').submit(function() {
		check_user_name();

		if(error_name === false )
		{
			return true;
		}
		else
		{
			return false;
		}

	});

       //  {#}#}

       {#   else if({{ blank_name }}==1){#}
       {#   #}
       {#   #}
       {#   $('div.error').html("the username cannot be blank").show();#}
       //    {#}#}
       //      {#if({{ error_pwd }}==1){#}
      
   } )
</script>
{#{% endblock head %}#}

<body>
{#  <script type="text/javascript" src="/static/js/register.js"></script>#}
			<a class="logo"><img src="/static/images/logo.png" width = '200' ></a>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:find_password" %}" id='fog_form' method="post">
                    {% csrf_token %}
						<h1> Forget Passsword</h1>
						<label>Username</label>
						<input type="text" name="user_name" id="user_name">
						<div class="error"></div>

						<input type="submit" value="Continue">

				</form>
			</div>

</div>
<style>
.reg_form{
	align-content: center;
	position: fixed;
	left:400px;
	width: 400px;
	font-size: 14pt;
	}

.logo {
    left: 100px;
    position: fixed;
    width: 200px;
    height: 76px;
    float: right;
}
<style>
</body>
</html>
