{% extends 'base_foot.html' %}


{% block head %}
    <script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
    $(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;


	$('#user_name').blur(function() {
		check_user_name();
	});

	$('#pwd').blur(function() {
		check_pwd();
	});

	$('#cpwd').blur(function() {
		check_cpwd();
	});

	$('#email').blur(function() {
		check_email();
	});

	$('#allow').click(function() {
		if($(this).is(':checked'))
		{
			error_check = false;
			$(this).siblings('span').hide();
		}
		else
		{
			error_check = true;
			$(this).siblings('span').html('Please agree to the terms of service and privacy policy');
			$(this).siblings('span').show();
		}
	});


	function check_user_name(){
		var len = $('#user_name').val().length;

		if(len<5||len>20)
		{
			$('#user_name').next().html('Please enter a username of 5-20 characters');
			$('#user_name').next().show();
			error_name = true;

		}
		else
		{
			$.get('{% url "df_user:register_exist" %}?uname='+$('#user_name').val(),function(data){
                if (data.count >= 1) {
                    $('#user_name').next().html('Username already exists').show();
                    error_name = true;
                }else{
                    $('#user_name').next().hide();
                    error_name = false;
                }
            });
        }
	}

	function check_pwd(){
		var len = $('#pwd').val().length;
		if(len<4||len>20)
		{
			$('#pwd').next().html('Password should be at least 4 characters, maximum 20 characters');
			$('#pwd').next().show();
			error_password = true;
		}
		else
		{
			$('#pwd').next().hide();
			error_password = false;
		}
	}


	function check_cpwd(){
		var pass = $('#pwd').val();
		var cpass = $('#cpwd').val();

		if(pass!=cpass)
		{
			$('#cpwd').next().html('The passwords entered twice do not match');
			$('#cpwd').next().show();
			error_check_password = true;
		}
		else
		{
			$('#cpwd').next().hide();
			error_check_password = false;
		}

	}

	function check_email(){
		var re = /^[a-z0-9][\w\.\-]*@[a-z0-9\-]+(\.[a-z]{2,5}){1,2}$/;

		if(re.test($('#email').val()))
		{
			$('#email').next().hide();
			error_email = false;
		}
		else
		{
			$('#email').next().html('The email you entered is not in the correct format');
			$('#email').next().show();
			error_email = true;
		}

	}

	function check_pnum(){
		var re = /^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$/;

		if(re.test($('#pnum').val()))
		{
			$('#pnum').next().hide();
			error_pnum = false;
		}
		else
		{
			$('#pnum').next().html('The phone number you entered is not in the correct format');
			$('#pnum').next().show();
			error_pnum = true;
		}

	}



	$('#reg_form').submit(function() {
		check_user_name();
		check_pwd();
		check_cpwd();
		check_email();
		check_pnum();

		if(error_name == false && error_password == false && error_check_password == false && error_email == false && error_pnum == false && error_check == false)
		{
			return true;
		}
		else
		{
			return false;
		}

	});
});
    </script>
{% endblock head %}

{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/logo.png" width = '200' ></a>
<!--			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>-->
<!--			<div class="reg_banner"></div>-->
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>Sign up </h1>
				<a href="{% url "df_user:login" %}">Login</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:register_handle" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label>Username:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip"></span>
					</li>
					<li>
						<label>Password:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip"></span>
					</li>
					<li>
						<label>Re-type Password:</label>
						<input type="password" name="confirm_pwd" id="cpwd">
						<span class="error_tip"></span>
					</li>
					<li>
						<label>Email:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip"></span>
					</li>
					<li>
						<label>Full Name</label>
						<input type="text" name="fname" id="fname">
						<span class="error_tip"></span>
					</li>
					<li>
						<label>Phone Number:</label>
						<input type="text" name="pnum" id="pnum">
						<span class="error_tip"></span>
					</li>
					<li class = 'suqetions'>
						<label>Security Qestions</label>
						<select name ="squestion" style = "text-align: center;text-align-last: center;width: 290px;" >
							<option name='squestion' value = "What is your pet name?",> What is your pet name?</option>
							<option name='squestion' value = "Where was your birthplace?"> Where was your birthplace?</option>
							<option name='squestion' value = "What is first car?"> What is first car? </option>
						</select>
						<input type="text" name="sanswer" id="sanswer">
<!--						<span class="error_tip"></span>-->
					</li>

<!--					<li class="agreement">-->
<!--						<input type="checkbox" name="allow" id="unnecessary_allow" checked="checked">-->
<!--						<label>OK to email</label>-->
<!--&lt;!&ndash;						<span class="error_tip2">提示信息</span>&ndash;&gt;-->
<!--					</li>-->

					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>I agree to the Terms of Use and Privacy Policy</label>
<!--						<span class="error_tip2">提示信息</span>-->
					</li>
					<li class="reg_sub">
						<input type="submit" value="Register">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>

{% endblock body %}