{% extends 'base.html' %}

{% block center_body %}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>User Center</h3>
			<ul>
                <li><a href="{% url "df_user:info" %}">· Personal Information</a></li>
				<li><a href="{% url "df_user:order" 1 %}">· Order History</a></li>
				<li><a href="{% url "df_user:site" %}" class="active">· Change the Password</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">Change the Password</h3>
				<div class="site_con">
					<form action="{% url "df_user:site" %}" method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>new password</label>
							<input type="text" name="ushou" value="{{ user.ushou }}">
						</div>
                        <div class="form_group">
                            <label>confirm password</label>
                            <input type="text" name="uphone" value="{{ user.uphone }}">
                        </div>
						<input type="submit" name="" value="reset the password" class="info_submit">
					</form>
				</div>
		</div>
	</div>


{% endblock center_body %}